# Main
p2rank_2.4/
vina_1.2.5/
p2rank_2.4.tar.gz
chimera/
adfr/
media/

# jimag-scripts
jimag-scripts/etc/
jimag-scripts/input/
jimag-scripts/output/
*.pyc

# jimag
jimag/node_modules/
# Python
jimag/__pycache__/
jimag/*/__pycache__/
jimag/*.pyc
jimag/*.pyo
jimag/media/
jimag/.venv/
jimag/script_output.log
jimag/.script_output.log.swp
jimag/dump.rdb
jimag/env/
**/venv/
**/.venv/
**/env/
**/__pycache__/
jimag/None/
jimag/None/media/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.DS_Store
Thumbs.db
*.gz